/* src/components/SplashScreen.css */
.splash-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Background color of the splash screen */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-container {
    width: 350px; /* Increased width for a larger logo */
    height: 350px; /* Increased height for a larger logo */
    position: relative;
    overflow: hidden;
  }
  
  .logo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    animation: fillLogo 3s forwards;
  }
  
  @keyframes fillLogo {
    0% {
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  